
/*MAIN START*/
body{font-family: 'Assistant', sans-serif;}
.img-responsive{
    display: block;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{margin: 0;}
.no-gutter > [class*='col-'] {
    padding-right:1%;
    padding-left:1%;
}
h4{font-size: 2.8vmax; font-weight: 700; text-align: center;}
.application, .video-block{color: #3e3e3e;}
.float-left{float: left;}
.float-right{float: right}
.video-block, footer{padding: 4vmax 0 4vmax 0;}
.application{padding: 4vmax 0 0 0;}
.headline{position: relative; padding-bottom: 2vmax;}
h4:after{
    content: "";
    position: absolute;
    width: 100px;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    height: 3px;
    background: #83ac39;
}
.pad-top{padding-top: 2vmax;}
/*MAIN END*/
/*HEADER START*/
.navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
}
.navbar-default {
    background-color: #000000;
}
.navbar-brand {
    padding: 5px;
    margin-right: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-weight:700;
}

.navbar-header {
    float: right;
}
.navbar-nav {
    float: left;
}
/*HEADER END*/
/*BANNER START*/
.banner {
    text-align: center;
    background-color: #282a68;
    color: white;
    padding: 6vw 0 4vw 0;
}
.banner h3 {font-size: 6vmax; font-weight: 600; line-height: 6vmax;}
.banner p {font-size: 3vmax; font-weight: 400; line-height: 3vmax;}
.banner-top {position: relative;}
.banner-top .text-block {
    position: absolute;
    left: 0;
    top: -3vmax;
    width: 100%;
}
.book{margin-top: 2%;}
/*BANNER END*/
/*APPLICATION START*/
.application ol{counter-reset: myCounter; font-size: 2vmax;}
.application li{list-style: none;}
.application li:before {
    counter-increment: myCounter;
    content:counter(myCounter);
    background: #83ac39;
    display: inline-block;
    text-align: center;
    margin: 1vmax 1vmax;
    line-height: 2vmax;
    width: 2vmax;
    height: 2vmax;
    border-radius: 100%;
}
.app-text-block{position: relative;}
.app-text{position: absolute; top:50%; transform: translateY(35%) translateX(5%);}
/*APPLICATION END*/
/*VIDEO START*/
.video-block{background-color: #efefef;}
video{
    width: 100%;
    height: auto;
}
/*VIDEO END*/
/*FOOTER START*/
footer{background-color: #2c2c2c; color: white;}
.list-inline li::before {content: " • "; color: #83ac39;}
/*FOOTER END*/

